<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
    <link rel="stylesheet" href="/public/styles/style.css">
    <link rel="shortcut icon" href="/images/logo_tix_icon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>list Pemesanan Tiket Online</title>
    <style>

::-webkit-scrollbar{
	background-color: #ffffff;
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-thumb{
    background-color: #001A3A;
    width: 6px;
    height: 6px;
}
    </style>
</head>
<body>
    <header>
        <nav class="navbar is-dark" role="navigation" aria-label="main navigation" style="background-color: #001A3A;">
            <div class="navbar-start">
                <img src="/images/logo_tix_png.png" class="navbar-brand" alt="" width="50">
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                  <div class="navbar-menu">
                    <div class="navbar-start">
                      <a href="#" class="navbar-item">Tix Online</a>
                      <a href="#" class="navbar-item">Carrers</a>
                      <% if (user.isAdmin) { %> 
                        <a href="/admin/product" class="navbar-item">Product Dashboard</a>
                        <a href="/admin/product/tiket" class="navbar-item">Tiket</a>
                      <% } %> 
                    </div>
                  </div>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="mx-3">
                            <%= user.email %>
                        </div>
                        <div class="buttons">
                            <%- (!user?'<a href="/user/login" class="button is-light">Login</a>':'<a href="/user/logout" class="button is-light">Logout</a>') %>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
        <div id="app" class="container is-widescreen">
            <!-- For Publics -->
            <div>
                <div id="carouselExampleCaptions" class="carousel slide" style="margin-bottom: 30px;">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/images/gambar1.jpeg" class="d-block w-100" alt="..." id="imagebrightness">
                        <div class="carousel-caption d-none d-md-block" style="background-color: #001A3A; border-radius: 5px;">
                          <h5><a href="https://promo.tix.id/9Lives.html" class="text-white" target="_blank">Free Proteksi COVID-19 dari TIX ONLINE</a></h5>
                          <br>
                          <p>Karena kami sayang TIX Hunters, TIX ID TIX ONLINE dan 9LIVES ada proteksi Covid-19 GRATIS dengan manfaat pertanggungan isolasi mandiri senilai Rp. 750.000</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/images/gambar2.jpeg" class="d-block w-100" alt="..." id="imagebrightness">
                        <div class="carousel-caption d-none d-md-block" style="background-color: #001A3A; border-radius: 5px;">
                          <h5><a href="https://promo.tix.id/Vision+30hari.html" class="text-white" target="_blank">Voucher Berlangganan Vision+ Premium Sports 30 Hari</a></h5>
                          <br>
                          <p>Buat kamu pecinta olahraga, jangan sampai kehabisan Voucher berlangganan Vision+ Premium Sports. Selain bisa nikmatin beragam konten olahraga favorit kamu, masih banyak konten pilihan lainnya</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img src="/images/gambar3.jpeg" class="d-block w-100" alt="..." id="imagebrightness">
                        <div class="carousel-caption d-none d-md-block" style="background-color: #001A3A; border-radius: 5px;">
                          <h5><a href="https://promo.tix.id/tixsrnov22.html" class="text-white" target="_blank">Promo Spesial Berlangganan SushiRoll!</a></h5>
                          <br>
                          <p>Mau nonton beragam anime terbaik selama satu bulan tanpa was was dan gak perlu merogoh dompet dalam-dalam? Gak usah khawatir, segera beli Voucher di web sekarang Mulai hari ini hingga tanggal 31 Januari 2022</p>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-show">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-show">Next</span>
                    </button>
                  </div>
            </div>
            <div> 
                <!-- card slot slider -->
                <div class="display-4">NOW SHOWING IN CINEMAS SPOTLIGHT</div>
                
                <div id="carouselExampleControls" class="carousel carousel-dark slide mb-4 mt-3" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      
                        <div class="carousel-item active">
                            <div class="card-wrapper container-sm d-flex justify-content-around">
                                <div class="card" style="width: 350px;">
                                    <img src="https://asset.tix.id/wp-content/uploads/2023/01/50a46562-3cb7-4966-a26e-23e433d40eda.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">A MAN CALLED OTTO</h5>
                                          <a href="#" class="btn btn-primary">GET TICKET</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 350px;">
                                    <img src="https://asset.tix.id/wp-content/uploads/2023/01/da853c9e-73fa-4d01-ba8d-f636a912de3b.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">MANGKUJIWO 2</h5>       
                                        <a href="#" class="btn btn-primary">GET TICKET</a>
                                    </div>
                                </div>
                                <div class="card" style="width: 350px;">
                                    <img src="https://asset.tix.id/wp-content/uploads/2023/01/eb618c2e-9554-42e4-8c22-4a07f65bd710.jpeg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">OPERATION FORTUNE: RUSE DE GEDUERRE</h5>
                                        <a href="#" class="btn btn-primary">GET TICKET</a>
                                    </div>
                                </div>
                            </div>
                        </div>
      </div>
      
              </div>
        </div>
    <!-- list view news -->
    <div class="display-4">TIX NOW</div>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://asset.tix.id/wp-content/uploads/2023/01/df91419d-f2e6-4da7-89d2-e4a2726ec7cf.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ADAGIUM, Film Aksi Asal Indonesia Yang Sedang Tayang!</h5>
              <p class="card-text">Adagium merupakan film Indonesia yang mulai tayang di bioskop pada Kamis, 26 Januari 2023Memasuki akhir bulan Januari di tahun 2023, ada film ADAGIUM yang lagi...</p>
              <p class="card-text"><small class="text-muted">Sunday, 29 January 2023</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://asset.tix.id/wp-content/uploads/2023/01/1de3bb6f-15d0-437e-8a41-5168c5b45ec9.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Film 'A Man Called Otto' Yang Bikin Orang-Orang Nangis Sesenggukan</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Thursday, 26 January 2023</small></p>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://asset.tix.id/wp-content/uploads/2023/01/0af3a9ce-c163-44c7-84bf-61e224c22a2d.jpeg" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Balik ke Tahun 90an Lewat Film Romansa 'Balada Si Roy',</h5>
              <p class="card-text">Yang masih menjadi pembicaraan di sosial media, ada film A Man Called Otto yang dikatakan warganet berhasil membuat mereka menangis sesenggukan. Meski banyak dari mereka...</p>
              <p class="card-text"><small class="text-muted">Thursday, 24 January 2023</small></p>
            </div>
          </div>
        </div>
    </div>
</div>
    <!-- COPYRIGHT FOOTER -->
    <footer class="container-fluid text-white" style="padding: 10px; height: 250px; background-color: #001A3A; ">
        <div class="row pd-4">
          <div class="col-sm-4">
            <img src="/images/logo_tix_text.png" alt="" width="200" style="border-radius: 15px; user-select: none; outline: none;">
            <p>Best App For Movie Lovers In<br> Indonesia! Movie<br> Entertainment Platform <br> From Cinema To Online<br> Movie Streaming Selections.</p>
          </div>
          <div class="col-sm-4" style="line-height: 35px; cursor:pointer;">
            <h5>Home</h5>
            <ul class="text-secondary"> <!-- list-unstyled -->
              <li>NOW SHOWING</li>
              <li>TIX NOW</li>
              <li>SPOTLIGHT</a></li>
              <li>VIDEO THRILLERS</li>
            </ul>
          </div>
          <div class="col-sm-4" style="line-height: 35px; cursor:pointer;">
            <h5>TIX ONLINE</h5>
            <ul class="text-secondary">
              <li>CARRERS</li>
              <li>CONTACT US</li>
              <li>PRIVACY POLICY</li>
              <li>TERMS & CONDITIONS</li>
            </ul>
          </div>
        </div>
      </footer>
      <div class="footer-copyright text-center py-3 text-white" style="background-color: #192C4F;" id="CopyrightUser"><script>document.getElementById("CopyrightUser").innerHTML = new Date().getFullYear();</script>
        <a href="#" class="text-white"> TIX ID - PT NUSANTARA ELANG SEJAHTERA. ALL RIGHTS RESERVED.</a>
    </div>
</body>
</html>