<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST API - MVC</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
</head>
<body>
    <div id="app" class="container is-max-desktop mt-5">
        <h1 class="title">Add Suppliers</h1>
        <div class="field">
            <label class="label">Company Name</label>
            <div class="control">
                <input type="text" name="company_name" id="company_name" class="input" placeholder="Company Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Contact Name</label>
            <div class="control">
                <input type="text" name="contact_name" id="contact_name" class="input" placeholder="Contact Name">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">E-mail</label>
            <div class="control">
                <input type="text" name="email" id="email" class="input" placeholder="E-mail">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">Phone</label>
            <div class="control">
                <input type="text" name="phone" id="phone" class="input" placeholder="Phone Number">
            </div>
        </div>
        <div class="field">
            <label for="" class="label">Active</label>
            <div class="control">
                <input type="text" name="active" id="active" class="input" placeholder="one number">
            </div>
        </div>
        <div class="control">
            <button class="button is-success" id="save">SAVE</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        document.getElementById('save').onclick = () => {
            axios({
                method: 'post',
                url: '/api/suppliers',
                data: {
                    company_name: document.getElementById('company_name').value,
                    contact_name: document.getElementById('contact_name').value,
                    email: document.getElementById('email').value,
                    phone: document.getElementById('phone').value,
                    active: document.getElementById('active').value
                }
            }).then((result) => {
                alert('Info Status: ' + result.status)
                window.location = "/";
            }).catch((err) => {
                alert('error ' + err)
            });
        }
    </script>
</body>
</html>