<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pemesanan tiket online</title>
    <link rel="stylesheet" href="https://www.unpkg.com/bulma@0.9.3/css/bulma.css">
</head>
<body>
    <div id="app" class="container is-max-desktop mt-5">
        <h1 class="title">Add Ticket</h1>
        <div class="field">
            <label for="" class="label">Gambaran Tiket</label>
            <input type="text" placeholder="Tempelkan alamat Gambar URL disini" name="images" id="images" class="input" autofocus>
        </div>
        <div class="field">
            <label class="label">Nama Tiket</label>
            <div class="control">
                <input type="text" placeholder="Nama Tiket" class="input" name="name" id="name">
            </div>
        </div>
        <div class="field">
            <label class="label">Harga Tiket</label>
            <div class="control">
                <input type="text" placeholder="Harga Tiket" class="input" name="price" id="price">
            </div>
        </div>
        <div class="control">
            <button class="button is-success" id="save">SAVE</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://bulmajs.tomerbe.co.uk/assets/bulmajs/0.10/dist/bulma.js"></script>
    <script>
        document.getElementById('save').onclick = () => {
            axios({
                method: 'post',
                url: '/admin/product/api/products',
                data: {
                    images : document.getElementById("images").value,
                    name : document.getElementById("name").value, 
                    price : document.getElementById("price").value
                }
            }).then((result) => {
                alert('Info Status: ' + result.status)
                window.location = "/admin/product";
            }).catch((err) => {
                alert('error ' + err)
            });
        }
    </script>
</body>
</html>